@import "mixins/responsive";

.cell-gallery-party {

  $width-of-gallery: 200px;
  $cell-width: 420px;
  $thumbnail-width: (2*$width-of-gallery) / 5;
  // width: $width-of-gallery;

  .carousel-inner {
    width: $cell-width;
    margin-left: auto;
    margin-right: auto;
    .item {

      height: $width-of-gallery;

      &.active {
        display: table;
      }

      .image_container {
        padding-right: 10px;
        position: relative;
        display: table-cell;
        vertical-align: middle;
        width: $width-of-gallery;
        min-height: $width-of-gallery;
        img {
          border-radius: $width-of-gallery/2;
          max-width: $width-of-gallery;
          max-height: $width-of-gallery;
        }

      }

      .text_container {
        position: relative;
        display: table-cell;
        vertical-align: middle;
        width: $width-of-gallery;

        .text_container_name {
          text-align: center;
          font-size: 30px;
          font-weight: bold;
          margin-bottom: 10px;
        }
        .text_container_title {
          text-align: center;
          font-size: 20px;
        }
      }
    }
  }
  .carousel-indicators {

    list-style: none;
    left: 0;
    text-align: center;
    width: $cell-width;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 0;
    right: auto;
    li {
      border: 0;
      margin-top: 20px;
      margin-left: 0;
      display: inline-block;
      float: none;
      width: $thumbnail-width;
      height: $thumbnail-width;
      text-indent: 0 !important;
      background: none;
      img {
        border-radius: $thumbnail-width / 2;
        opacity: 0.6;
        width: 100%;
        height: 100%;
      }


      &:hover,
      &.active {
        background-color: transparent;
        img {
          opacity: 1;
        }
      }
    }
  }
  .carousel-control {
    line-height: 43px;
    font-size: 30px;
    border: 0;
    width: auto;
    height: $width-of-gallery;

    i {
      top: 50%;
      display: inline-block;
      position: absolute;
    }

    &.right {
      right: 0;

      i {
        right: 0;
      }
    }

    &.left {
      left: 0;
      i {
        left: 0;
      }
    }
  }


  @include mobile-only {
    .carousel-indicators {
      width: auto;
    }
    .carousel-inner {
      width: auto;
      text-align: center;
      .item {
        width: 100%;
        .image_container {
          display: inline-block;
          padding: 0;
        }

        .text_container {
          display: inline-block;
          padding: 0;
          margin-top: 20px;
        }
      }
    }
  }
}
