

.cell-parties-image-modal {
  .modal-header {
    text-align: right;
    padding-bottom: 0;
    border: 0;
    .btn.close {
      float: none;
    }
  }
  .modal-content {
    border: 2px solid #000000;
  }
  .modal-body {
    img {
      width: 100%;
    }
  }

}
