@import "mixins/buttons";
@import "mixins/responsive";

#page-parties-change,
#page-parties-new {
  $row-height: 40px;
  .btn.btn-primary {
    @include btn-primary();
  }
  .parties-new-form-container {
    $row-width: 450px;
    form {
      margin-top: 10px;
    }
    .input {
      max-width: $row-width;
      margin-bottom: 5px;
      input {
        width: 100%;
        border: 1px solid #777777;
        border-radius: 4px;
      }
    }
    input {
      height: $row-height;
      box-sizing: border-box;
      background-color: rgba(255,255,255,0.9);
    }
    .guest_list_title, label {
      color: #000000;
      display: inline-block;
    }

    .guest_list {
      list-style-type: none;
      margin: 0;
      padding: 0;
      $input-separation: 5px;

      .guest-item {
        display: inline-block;
        margin-bottom: 5px;
        input {
          width: ($row-width - $input-separation)/2;
          display: block;
          float: left;
          margin-right: $input-separation;
          border: 1px solid #777777;
          border-radius: 4px;
        }
      }

      .btn-remove-guest {
        height: $row-height;
        @include btn-white();
        font-size: 20px;
      }

    }
    .btn-add-guest {
      height: $row-height;
      @include btn-white();
      font-size: 20px;
      margin-top: 10px;
    }
    .parties-new-form-actions {
      margin-top: 10px;
      text-align: center;

      input.btn {
        font-size: 20px;
        height: auto;
      }
    }
  }
  @include mobile-only {
    .parties-new-form-container {
      .guest_list {
        .guest-item {
          input {
            width: 100%;
            margin-bottom: 2px;
          }
        }
      }
    }
  }
}
