@import "mixins/buttons";
@import "mixins/responsive";

#page-parties-change,
#page-parties-new {
  $row-height: 40px;
  .btn.btn-primary {
    @include btn-primary();
  }
  .parties-new-form-container {
    $row-width: 510px;

    .header_text {
      margin-top: 10px;
      margin-bottom: 10px;
    }
    form {
      margin-top: 10px;
    }
    a {
      color: #448866;
    }
    .input {

      margin-bottom: 5px;
      textarea, input {
        width: 100%;
        border: 1px solid #777777;
        border-radius: 4px;
      }
    }
    input {
      height: $row-height;
      box-sizing: border-box;
      background-color: rgba(255,255,255,0.9);
    }
    .guest_list_title, label {
      color: #000000;
      display: inline-block;
    }

    .guest_list {
      list-style-type: none;
      margin: 0;
      padding: 0;
      $input-separation: 5px;
      span {
        font-weight: bold;
      }

      .guest-item {
        display: inline-block;
        margin-bottom: 5px;

        input.string, .checkbox {
          width: ($row-width - $input-separation)/3;
          display: block;
          float: left;
          &:first-child {
            margin-right: $input-separation;
          }
        }

        input.string {
          border: 1px solid #777777;
          border-radius: 4px;
        }

        .checkbox {
          margin-top: 0;
          margin-bottom: 0;
          padding-left: 10px;

          input {
            position: absolute;
            margin: 0;
          }
          label {
            padding-left: 20px;
            line-height: 40px;
            vertical-align: middle;
          }
        }
      }

      .btn-remove-guest {
        // height: $row-height;
        // @include btn-white();
        font-size: 15px;
      }

    }
    .btn-add-guest {
      height: $row-height;
      @include btn-white();
      font-size: 20px;
      margin-top: 10px;
    }
    .parties-new-form-actions {
      margin-top: 10px;
      text-align: center;

      input.btn {
        font-size: 20px;
        height: auto;
      }
    }
  }
  @include mobile-only {
    .parties-new-form-container {
      .guest_list {
        .guest-item {
          input {
            width: 100%;
            margin-bottom: 2px;
          }
        }
      }
    }
  }
}
