body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.page-container {
  min-height: 800px;
  background-image: image_url('background.jpg');
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
}
