@mixin btn-primary {
  border: 0 !important;
  background: none;
  background-color: rgb(210, 125, 125) !important;
  color: #000000 !important;
  padding: 10px 20px;
  font-size: 16px;
  &:hover {
    background-color: darken(rgb(210, 125, 125), 5%) !important;
  }
}

@mixin btn-white {
  border: 1px solid #cccccc !important;
  background: none;
  background-color: #FFFFFF !important;
  color: #555555 !important;
  &:hover {
    background-color: darken(#cccccc, 5%) !important;
  }
}
