-# #mod-flash
-#   - if flash[:success]
-#     #mod-flash-success.mod-flash-message-container
-#       = flash[:success]
-#   - if flash[:notice]
-#     #mod-flash-notice.mod-flash-message-container
-#       = flash[:notice]
-#   - if flash[:error] || flash[:alert]
-#     #mod-flash-error.mod-flash-message-container
-#       = flash[:error] || flash[:alert]  # Well some gem still use alert
-#   - if flash[:warning]
-#     #mod-flash-warning.mod-flash-message-container
-#       = flash[:warning]
-#   - if flash[:info]
-#     #mod-flash-info.mod-flash-message-container
-#       = flash[:info]

- flash.each do |key, value|
  .alert-container
    .alert{class: "alert-#{key} fade in"}
      %a{class: "close", data: {dismiss: 'alert'}, aria: {label: 'close'}}
        = "X"
      = value
