.cell-parties-modal {
  .modal-dialog {
    width: 300px;
  }


  .modal-content {
    border: 2px solid #000000;
  }
}

.cell-parties-modal--form-body {
  input {
    float: left;
    height: 30px;
  }
  .btn {
    margin-left: 20px;
  }

  .cell-parties-modal--form-body-text {
    margin-top: 5px;
  }
}
