.page-section
  .page-section__heading
    .page-section__heading-couple-name
      = "Vivian and Nathan"
    .page-section__heading-date
      = "December 23, 2016"
    .page-section__heading-location
      = "Hong Kong"
