- set_body_id('page-home-story')
.page-section
  .page-section--image-inset
    = image_tag("pages/home/story/myanmar.jpg")
  .page-section--image-text
    = t('views.templates.story.relationship')
    %p
    = t('views.templates.story.engagement')
