@import "mixins/font-family";
@import "mixins/responsive";
@import "mixins/adaptive";

.landing-title {
  margin-top: 150px;

  position: absolute;
  left: 22%;

  .landing-title_container {

    .landing-title_couple-name,
    .landing-title_save_the_date, {
      display: inline-block;
      line-height: 1.2;
    }
    .landing-title_couple-name {
      font-size: 70px;
      @include font-family('Great Vibes', $important: true);
    }

    .landing-title_save_the_date {
      margin-top: 150px;
      text-shadow: 2px 1px 4px rgba(255,255,255,1);
      font-size: 16px;
      display: table;
      margin-left: auto;
      margin-right: auto;

      span {
        display: table-cell;
        &.date {
          text-align: right;
        }
      }
    }
    .landing-title_location {
      font-size: 19px;
      font-family: garamond_premr_proregular;
    }
  }

  @include mobile-only {
    left: 0;
    margin-top: 38px;
    .landing-title_container {
      .landing-title_couple-name {
        text-align: center;
        img {
          width: 80%;
        }
      }
      .landing-title_save_the_date {
        margin-top: 20px;
      }
    }
  }
}
