

#page-home-photos {
  .page-section {
    display: table;
    width: auto;
    .page-section-image {
      width: 24%;
      display: table-cell;
      float: left;
      margin-left: 0.5%;
      margin-right: 0.5%;
    }
  }
}
