@import "mixins/responsive";

#page-home-story {
  .page-section {
    display: table;
  }
  .page-section--image-inset {
    display: table-cell;
    float: left;
    width: 150px;
    vertical-align: top;
    padding-right: 10px;
    img {
      width: 100%;
      border-radius: 15px;
    }
  }

  .page-section--image-text {
    vertical-align: top;
    display: table-cell;
  }
  @include mobile-only {
    .page-section--image-inset {
      margin-left: auto;
      margin-right: auto;
      float: none;
      display: block;
      padding: 0 0 10px 0;
    }
    .page-section--image-text {
      display: block;
    }
  }
}
