.cell--app--languages--selection-menu--navbar-style {
  display: inline-block;
  width: 100%;

  .dropdown-toggle {
    display: block;
    text-decoration: none;
  }
  .dropdown-menu {
    background-color: rgba(255,255,255,0.8) !important;
    border: 1px solid #000000 !important;

    li {
      a {
        &:hover {
          background-color: #888888;
        }
      }

    }
  }
  .cell--app--languages--selection-menu--navbar-style__dropdown-toggle__text {
    .current {
      font-weight: bold;
    }
  }
}
