@import "mixins/font-family";

.navbar {

  .container {
    margin-top: 10px;
    .navbar-toggle {
      float: left;
      border: 1px solid #000000;
    }
  }
  .navbar-collapse {
    background-color: rgba(252,202,210,0.8);
    &.collapsing {
      display: none;
    }
  }
  @media (min-width: 768px) {
    background-color: rgba(252,202,210,0.8);
    .navbar-collapse {
      background-color: transparent;
    }
  }
}







.navbar-collapse {
  overflow-y: inherit !important;
  .navbar-nav {
    display: inline;
    .navbar-item {
      margin-right: 10px;
    }
    .navbar-item,
    .navbar-item > a {
      height: 30px;
      line-height: 30px;

    }

    .cell--app--languages--selection-menu--navbar-style > a,
    .navbar-item > a {
      padding: 0 10px;
      color: #000000 !important;
      background-color: transparent !important;
      &:hover, &:active{
        border: 1px solid #000000;
        border-radius: 4px;
      }
    }
  }
}

//
// .nav-container {
//   text-align: center;
//   .main-navbar {
//
//     margin-top: 25px;
//     display: inline-block;
//
//     .cell--app--languages--selection-menu--navbar-style > a,
//     .nav > li > a {
//       color: #000000 !important;
//       padding: 0 5px !important;
//       display: table-cell;
//       vertical-align: middle;
//       font-size: 1em;
//       @include font-family('spinnaker', $important: true);
//       text-transform: uppercase;
//       text-shadow: 1px 1px 5px rgba(100,100,100,0.3);
//       text-decoration: none;
//
//       &:hover {
//         border: 1px solid #000000;
//         border-radius: 4px;
//       }
//     }
//
//     .navbar-item {
//       height: 30px;
//       line-height: 30px;
//       vertical-align: middle;
//       position: relative;
//       float: left;
//       list-style: none;
//     }
//     .cell--app--languages--selection-menu--navbar-style {
//       display: inline-block;
//     }
//   }
//
// }
