@import "mixins/font-family";
@import "mixins/responsive";

.navbar {

  .container {
    margin-top: 10px;
    .navbar-toggle {
      float: left;
      border: 1px solid #000000;
    }
  }
  .navbar-collapse {
    background-color: rgba(252,202,210,0.8);
    &.collapsing {
      display: none;
    }
  }
  @media (min-width: 768px) {
    background-color: rgba(252,202,210,0.8);
    .navbar-collapse {
      background-color: transparent;
    }
  }
}







.navbar-collapse {
  overflow-y: inherit !important;
  .navbar-nav {
    display: inline;
    .navbar-item {
      margin-right: 10px;
    }
    .navbar-item,
    .navbar-item > a {
      height: 30px;
      line-height: 30px;

    }

    .cell--app--languages--selection-menu--navbar-style > a,
    .navbar-item > a {
      padding: 0 10px;
      color: #000000 !important;
      background-color: transparent !important;
      &:hover, &:active{
        border: 1px solid #000000;
        border-radius: 4px;
      }
    }
  }
}

@include mobile-only {
  .container {
    .navbar-header {
      margin-right: 0;
      margin-left: 0;
    }
  }
}
